body{
font-family: Tahoma, sans-serif;
margin: 0;
color: #000;
}

img{
    max-width: 100%;
}
.header {
    padding-top: 77px;
    padding-bottom: 96px;
}

.header-text_title {
    margin-bottom: 15px;
font-size: 48px;
font-weight: 700;
}
.header-text_subtitle{
    margin-bottom: 35px;
    font-size: 30px;
    font-weight: 400;
}

.header-text_descr{
    margin-bottom: 47px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.header-text_price
{
    margin-bottom: 53px;
color: #313131;
font-size: 48px;
font-weight: 400;

}

.button {
    margin-bottom: 20px;
    border: 3px solid transparent;
    border-radius:5px;
    background-color: #f05a22;
    color: #fff;
    padding: 22px 43px;
    font-size: 24px;
    font-weight: 700;
}
.button-o {
    background-color:transparent;
    border: 3px solid #f05a22;
    color: #f05a22;
}


.features {
    background-color:#f2f2f2;
    padding-top: 89px;
    padding-bottom: 100px;
    text-align: center;
}

.section-title{
    margin-bottom: 91px;
    font-size: 30px;
    font-weight: 700;
}

.features_img{
    min-height: 55px;
}
.features_text{
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;

}
.section-title-2
{
    padding-top: 80px;
}

.features-2 {
    text-align: center;
}

.features_img-2{
    padding-left: 30px;
    padding-bottom: 50px;
}